/target
*~
**/*.rs.bk
.idea
cmake-build-debug
*.iml
mandel.png
docs/ltximg
*.html
*/logs
**/logs
flamegraph.svg
perf.data
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfplan
**/*.plan
**/store-rust.*
**/all.json
**/timeline_files
**/*.bkp
**/*.dtmp
logs
